.main-container-info {
    margin: 10px;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 8px #000000;
    overflow: hidden;
    overflow-y: scroll;
    padding: 25px;
    border-radius: 15px;
}

p {
    text-align: justify;
    font-family: Product-Sans-Regular, sans-serif;
    font-size: 15px;
}

.main-container-info::-webkit-scrollbar {
    background-color: white;
    width: 8px;
    height: inherit;
    border-radius: 15px;

}

.main-container-info::-webkit-scrollbar-thumb {
    background-color: #5890FF;
    width: 8px;
    border-radius: 15px;
}
