.main-container-info {
    position: relative;
    margin: auto;
    box-shadow: 0 0 8px #5890FF;
    padding: 30px 50px 50px 50px;
    border-radius: 15px;
    width: 90%;
    height: fit-content;
    background-color: white;
}

mark {
    font-size: 20px;
}

p > span {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-weight: bold;
}

::selection {
    background-color: yellow;
}

.iterative-recursive {
    background-color: #5890FF;
    border-radius: 10px;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: Product-Sans-Regular, sans-serif;
    padding: 10px;
    transition: .3s;
}

.iterative-recursive:hover {
    box-shadow: 0 0 8px #5890FF;
}

.hover {
    box-shadow: 0 0 8px #5890FF;
}
