<div class="main">
    <div class="main-container-info">

        <h1>{{algorithmData.algorithmName}}</h1>
        <p [innerHTML]="algorithmData.whatIs"></p>

        <p [innerHTML]="algorithmData.howDoes"></p>
        <h3>Asymptotic Complexity Analysis</h3>
        <p><span>Worst Case?</span>
            Worst time complexity is denoted by
            <mark>O</mark>
            and is equals to
            <mark>{{algorithmData.worstCaseTime}}</mark>
            as
            <mark>n</mark>
            denotes the number of total elements in the array. <code>Worst Complexity</code>
            {{algorithmData.worstCaseTimeString}}
        </p>
        <p><span>Average Case?</span>
            Average time complexity, denoted by
            <mark>θ</mark>
            and is equals to
            <mark>{{algorithmData.averageCaseTime}}</mark>
            as
            <mark>n</mark>
            denotes the number of total elements in the array. <code>Average Complexity</code>
            {{algorithmData.averageCaseTimeString}}
        </p>
        <p><span>Best Case?</span> Best time complexity, denoted by
            <mark>Ω</mark>
            and is equals to
            <mark>{{algorithmData.bestCaseTime}}</mark>
            .
            <code>Best Complexity</code>
            {{algorithmData.bestCaseTimeString}}
        </p>

        <h3>Space Complexity</h3>
        <p><span>Space Complexity</span> Space Complexity, denoted by
            <mark>O</mark>
            .
            <ng-template [ngIf]="isIterative" [ngIfElse]="recursiveLinearSearch">
                <mark>{{algorithmData.algorithmName}} Iterative</mark>
                {{algorithmData.spaceComplexityIterativeString}}
                <mark>{{algorithmData.spaceComplexityIterative}}</mark>
            </ng-template>

            <ng-template #recursiveLinearSearch>
                <mark>{{algorithmData.algorithmName}} Recursive</mark>
                {{algorithmData.spaceComplexityRecursiveString}}
                <mark>{{algorithmData.spaceComplexityRecursive}}</mark>
            </ng-template>

        </p>
        <h3>Code</h3>
        <p>Below is the implementation of <code>{{algorithmData.algorithmName}}</code> in
            <mark>Typescript</mark>
        </p>
        <button
            [ngClass]="{'hover': isIterative}"
            class="iterative-recursive"
            (click)="isIterative = !isIterative; text = isIterative ? ' Iterative' : ' Recursive'">
            {{algorithmData.algorithmName + ' ' + text}}
        </button>
        <app-github-gist *ngIf="isIterative"
                         [gistUrl]="algorithmData.sourceCodeIterative"></app-github-gist>
        <app-github-gist *ngIf="!isIterative"
                         [gistUrl]="algorithmData.sourceCodeRecursive"></app-github-gist>
    </div>
</div>
