.single-bar {
    background-color: red;
    width: 25px;
    border-radius: 3px;
    margin: 8px;
    transition: .3s;
}

.single-bar p {
    margin: 0;
    background-color: black;
    width: 25px;
    height: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: Product-Sans-Regular, sans-serif;
    border-radius: 3px;
}

.current {
    box-shadow: 10px 10px 8px #585853;
}
