<body>
<app-header></app-header>
<div class="main-content">
    <div class="left-content">
        <h3>Contents</h3>
        <h4><a href="">Algorithm?</a></h4>
        <h4><a href="#sort-algo">Sorting Algorithms</a></h4>
        <ul>
            <li *ngFor="let sort of sortingAlgorithms"><a href="">{{sort}}</a></li>
        </ul>
        <h4><a href="#search-algo">Searching Algorithm</a></h4>
        <ul>
            <li *ngFor="let search of searchingAlgorithms"><a href="">{{search}}</a></li>
        </ul>
        <h4><a href="#pathfinding-algo">Pathfinding Algorithm</a></h4>
        <ul>
            <li *ngFor="let path of pathfindingAlgorithms"><a href="">{{path}}</a></li>
        </ul>
    </div>
    <div class="right-content">
        <article>
            <h2 style="font-family: Product-Sans-Bold, sans-serif">What is an Algorithm?</h2>
            <p>As computers does not possess intelligence on their own therefore it is required for us humans to provide
                instructions in such way which a computer can understand easily which are given in any given <code>Programming
                    Language.</code> Therefore, An <code>Algorithm</code>
                can be defined as the set of instructions that we pass on to th computer to
                do any
                task in its COMPUTING LIMITS
                It ranges from simply finding out the <code>LCM of numbers</code> to complex Deep Learning Algorithms
                such
                as
                <code>Logistic Regression</code>.
            </p>

            <p> There are tons of algorithms for <code>Sorting, Searching and Pathfinding</code>.
            </p>
            <p>The
                <mark>Whats</mark>
                ,
                <mark>Whys</mark>
                and
                <mark>Algorithms</mark>
                that fall into these categories
                are given below.
            </p>
        </article>
        <article>
            <h3 id="sort-algo" style="font-family: Product-Sans-Bold, sans-serif">Sorting Algorithms</h3>
            <strong>What?</strong>
            <p><code>Sorting Algorithms</code> is specifically used to arrange the un-organized elements in a given
                collection. This
                arrangement can be based on <code>ASCII Codes</code> or simply which number is greater than the other on
                a
                number line.
            </p>
            <strong>Why?</strong>
            <p>It proves to be useful in different areas such as for arranging the Book Catalogue in an online
                <mark>E-Book Store</mark>
                or
                <mark>Information of People</mark>
                arranged in alphabetical order which is useful for faster retrieval of data from
                any of these Information
                Stores.
            </p>
            <p><strong><em>Sorting Algorithms?</em></strong> Some examples are given below which you can
                visualize by
                clicking on any of them.
            </p>

            <ul>
                <li *ngFor="let sort of sortingAlgorithms;">{{sort}}</li>
            </ul>
        </article>
        <article>
            <h3 id="search-algo" style="font-family: Product-Sans-Bold, sans-serif">Searching Algorithms</h3>
            <strong>What?</strong>
            <p><code>Searching Algorithms</code> are used to find an element in any given <code>Data Structure</code>,
                of which there
                are different algorithms for each. They are used to retrieve an element or to find their index in the
                <code>Data Structure</code>. For their purposes they are divided into two major categories:</p>
            <ul>
                <li><strong>Sequential Search</strong>
                    <p>In <code>Sequential Search</code> category, the array is completely traversed and each element is
                        sequentially compared with the <code>KEY</code> element which is to be found. Also the array
                        could be in <code>SORTED</code> or <code>UNSORTED</code> order.<strong>Example: </strong>
                        <mark>Linear
                            Search
                        </mark>
                    </p>
                </li>
                <li><strong>Interval Search</strong>
                    <p>In <code>Interval Search</code> category, the algorithms are all designed in such a way that they
                        require the arrays to be <code>SORTED</code> to give out the accurate results. These algorithms
                        does not sequentially traverse the array and does have
                        <mark>LOW RUNNING TIME</mark>
                        <em>(which we will discussed later) </em>
                        than that of <code>Sequential Search</code> ones, giving them advantage.
                        <strong>Example: </strong>
                        <mark>Binary Search
                        </mark>
                    </p>
                </li>
            </ul>
            <strong>Why?</strong>
            <p><code>Search Algorithms</code> are quite a great deal in computer science whose uses then branches to
                different disciplines. For instance, one of the world's biggest Tech Giant
                <mark>Google</mark>
                is all about providing the accurate results according to one's query. And one of the biggest challenge
                is to find any given element in reasonable amount of time. Moreover not every algorithm is efficient for
                each use case.
            </p>
            <p></p>
            <p><strong><em>Searching Algorithms?</em></strong> Some examples are given below which you
                can
                visualize by
                clicking on any of them.
            </p>
            <ul>
                <li *ngFor="let search of searchingAlgorithms">{{search}}</li>
            </ul>
        </article>
        <article>
            <h3 id="pathfinding-algo" style="font-family: Product-Sans-Bold, sans-serif">Pathfinding Algorithms</h3>
            <strong>What?</strong>
            <p><code>Pathfinding Algorithms</code> are super important in
                <mark>Computer Networking</mark>
                and other related fields. For instance, any of the pathfinding algorithms can be used in the firmware of
                a
                <mark>Router</mark>
                for
                <mark>Routing Packets</mark>
                . Another example could be the use of <code>A<sup>*</sup> Algorithm</code> in game enemies for tracking
                down
            </p>
            <strong>Why?</strong>
            <p><code>Pathfinding Algorithms</code> are important because of their applications in
                <mark>Navigational Systems</mark>
                like
                <mark>Google Maps</mark>
                and other services, also as said before in
                <mark>Packet Routing</mark>
                systems and
                <mark>Satellite Navigation System</mark>
                .
            </p>
            <p><strong><em>Pathfinding Algorithms?</em></strong> Some examples are given below which you can
                visualize by
                clicking on any of them.
            </p>
            <ul>
                <li *ngFor="let path of pathfindingAlgorithms;">{{path}}</li>
            </ul>
        </article>
    </div>
</div>
</body>
