<div class="main-visualization">
    <div class="all-options">
        <app-dropdown [category]="'Select Algorithm'" [optionsAvailable]="optionsAvailableSearch"
                      (algorithmName)="setAlgorithmName($event)"></app-dropdown>
        <app-dropdown [category]="'Select Speed'" [optionsAvailable]="optionsAvailableSpeedValues"
        ></app-dropdown>
        <label for="barsNumber">
            <input type="number" id="barsNumber" class="bars-number" placeholder="No. Of Bars" #numberOfBars>
        </label>
        <label for="onesArray">
            <input type="text" id="onesArray" class="ones-array" placeholder="Enter your array i.e. {2, 1, 80, 25, 10, 0}">
        </label>
        <button type="button" class="visualize-button" [disabled]="isDisabled" (click)="visualize()">
            Visualize {{algorithm}}</button>
    </div>
    <div class="bars-area">
        <app-bar [height]="90" [color]="'green'"></app-bar>
        <app-bar [color]="'black'"></app-bar>
        <app-bar [color]="'blueviolet'"></app-bar>
        <app-bar></app-bar>
    </div>
    <div class="algorithm-info">

    </div>
</div>
