<div class="main-container">
    <p>So, this is just a random blog, can be the one you are looking for right now, or simply not. I actually don't
        know what I am writing and why, just doing so, coz i can :). Let's try to be serious <em>(LOL)</em>. Okay so,
        Right now the blog is empty as you can see, but for future, three blogs are planned</p>
    <ul>
        <li>Firebase OAuth using Github, Twitter, Facebook</li>
        <li>How to add Github Gists in Angular Apps</li>
        <li>Why you should STAY AWAY from Javascript</li>
    </ul>
    <router-outlet></router-outlet>
</div>
