.columns-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.all-options {
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin: 30px auto 0 auto;
}

.all-options * {
    margin-right: 30px;
}

.row-o {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.common {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    position: fixed;
    top: 50%;
}

.color-codes-left {
    transform: rotate(-90deg);
    left: -13%;
}

.color-codes-right {
    transform: rotate(90deg);
    right: -14%;
}

app-color-codes {
    padding: 10px;
    transition: .3s;
    border-radius: 10px;
}
