<div class="container">
    <div class="select-box">
        <div class="options-container" [ngClass]="{'active': notDown}">

            <div class="options" role="button" *ngFor="let singleOption of optionsAvailable"
                 (click)="labelClicked($event)">
                <label>{{singleOption.name}}
                    <input type="radio" class="radio" [id]=singleOption.id name="category">
                </label>
            </div>
        </div>
        <div class="selected" role="button" (click)="this.notDown = !this.notDown;">
            Select Algorithm
        </div>
    </div>
</div>
