@font-face {
    font-family: "Product-Sans-Bold";
    src: local("Product-Sans-Bold"), url("./assets/fonts/ProductSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Product-Sans-Regular";
    src: local("Product-Sans-Regular"), url("./assets/fonts/ProductSans-Regular.ttf");
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: white;
    width: 8px;

}

body::-webkit-scrollbar-thumb {
    background: #5890FF;
    border-radius: 8px;
}

