@font-face {
    font-family: "Product-Sans-Bold";
    src: local("Product-Sans-Bold"), url("./assets/fonts/ProductSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Product-Sans-Regular";
    src: local("Product-Sans-Regular"), url("./assets/fonts/ProductSans-Regular.ttf");
}

::selection {
    background-color: yellow;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: white;

}

body::-webkit-scrollbar-thumb {
    background: #5890FF;
    border-radius: 10px;
}

p {
    font-family: Product-Sans-Regular, sans-serif;
    font-size: 18px;
}
